<!-- <!DOCTYPE html> -->
<html>
<head>
  <title>SmartMirror</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="/External_Libraries/jquery.simpleWeather.min.js"></script>

<script type="text/javascript" src="/Javascript/home.js"></script>

<script type="text/javascript" src="/Javascript/uber.js"></script>

<script type="text/javascript" src="/Javascript/time.js"></script>

<script type="text/javascript" src="/Javascript/weather.js"></script>

  <link rel="stylesheet" type="text/css" href="/CSS/style.css">
  <link rel="stylesheet" type="text/css" href="/CSS/home.css">

</head>

<div id="toggle">TOGGLE LIGHT</div>

<div id="date"></div>

<div id="time"></div>

<div id="weather"></div>

<div id="uber"></div>

<!-- <div id="LIFX">{{id}}</div> -->

<!-- API key for directions: AIzaSyBvAv8c1uklnR-jBM-bvwgjI6RVplTeFkI -->


</body>

</html>
